*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

::-moz-selection {
  background-color: rgb(33, 55, 75);
  color: rgb(223, 172, 93);
}

::selection {
  background-color: rgb(33, 55, 75);
  color: rgb(223, 172, 93);
}

svg use {
  fill: rgb(33, 55, 75);
}

svg:active use,
svg:hover use,
svg:focus use {
  fill: rgb(200, 155, 83);
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 200;
  font-size: 1.6rem;
  line-height: 2.3rem;
}

.adobexd {
  display: grid;
  position: relative;
  padding-top: 5%;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.adobexd--iphone {
  width: 60%;
  height: 50%;
}
.adobexd--iphone--mock {
  position: absolute;
  top: 20%;
  left: 10.7%;
  width: 40%;
  height: 60%;
  border-radius: 5px;
}
.adobexd--iphone--star-wars {
  position: absolute;
  top: 20%;
  left: 19.7%;
  width: 22%;
  height: 73%;
  border-radius: 40px;
}
.adobexd--macbook {
  width: 100%;
  height: 100%;
}
.adobexd--macbook--mock {
  position: absolute;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 90%;
  border-radius: 5px;
}
.adobexd--macbook--star-wars {
  position: absolute;
  top: 15%;
  left: 10%;
  width: 80%;
  height: 90%;
  border-radius: 5px;
}

.curriculum__methodology__link:link,
.curriculum__methodology__link:visited {
  text-decoration: underline;
  color: rgb(234, 234, 234);
}
.curriculum__methodology__link:hover,
.curriculum__methodology__link:focus,
.curriculum__methodology__link:active {
  color: rgb(223, 172, 93);
}
.curriculum__main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media only screen and (max-width: 160em) {
  .curriculum__main {
    padding: 1.6rem;
    gap: 3.2rem;
  }
}
@media only screen and (max-width: 64em) {
  .curriculum__main {
    padding: 0;
    gap: 2.4rem;
  }
}
@media only screen and (max-width: 48em) {
  .curriculum__main {
    padding: 0;
    gap: 1.6rem;
  }
}
.curriculum__main-completed {
  grid-column: 1/2;
}
@media only screen and (max-width: 48em) {
  .curriculum__main-completed {
    grid-column: 1/-1;
  }
}
.curriculum__main-progress {
  grid-column: 2/3;
}
@media only screen and (max-width: 48em) {
  .curriculum__main-progress {
    grid-column: 1/-1;
  }
}
.curriculum__main-queue {
  grid-column: 3/4;
}
@media only screen and (max-width: 48em) {
  .curriculum__main-queue {
    grid-column: 1/-1;
  }
}
.curriculum__header {
  text-align: center;
  padding: 1.6rem;
}
.curriculum__header__icon {
  vertical-align: middle;
  height: 3.5rem;
  width: 3.5rem;
  margin-right: 5px;
  fill: rgb(33, 55, 75);
}
.curriculum__list {
  border-radius: 5px;
  background-color: rgb(234, 234, 234);
  padding-left: 3rem;
  padding-right: 1rem;
}
.curriculum__item {
  padding: 1.2rem 0;
}
.curriculum__link {
  text-decoration: underline;
  cursor: pointer;
}
.curriculum__link:link,
.curriculum__link:visited {
  color: rgb(33, 55, 75);
}
.curriculum__link:hover,
.curriculum__link:focus,
.curriculum__link:active {
  color: rgb(223, 172, 93);
}
.curriculum__link--no-decoration {
  text-decoration: none;
}

#technologies {
  display: none;
  margin-left: 4rem;
  margin-bottom: 1.6rem;
}

.card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem 0;
  padding: 2.4rem;
  border-radius: 5px;
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.4);
  background-color: rgb(245, 245, 245);
}
@media only screen and (max-width: 90em) {
  .card {
    grid-template-columns: repeat(2, 30vw);
  }
}
@media only screen and (max-width: 64em) {
  .card {
    grid-template-columns: repeat(2, 36vw);
  }
}
.card__heading {
  grid-column: 1/-1;
  justify-self: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  color: rgb(33, 55, 75);
  padding: 0 3.6rem 5px 3.6rem;
  border-bottom: 1px solid rgb(33, 55, 75);
}
.card__sub-heading {
  grid-column: 1/-1;
  font-weight: 200;
  font-size: 1.6rem;
  text-align: center;
}
.card__video {
  grid-column: 1/-1;
  overflow: hidden;
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}
.card__video-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.card__button,
.card__link {
  grid-row: 4/5;
  margin: 1rem;
}
@media only screen and (max-width: 48em) {
  .card__button,
  .card__link {
    margin: 0;
  }
}
.card__stack {
  grid-row: 5/6;
  grid-column: 1/-1;
  padding: 1.6rem;
  display: none;
  overflow: hidden;
}

.btn {
  justify-self: center;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
}
.btn--card {
  align-self: center;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  font-size: 1.2rem;
  color: rgb(33, 55, 75);
  padding: 1rem 6.4rem;
}
.btn--card:hover,
.btn--card:active,
.btn--card:focus {
  background-color: rgb(220, 220, 220);
}
@media only screen and (max-width: 48em) {
  .btn--card:link {
    padding: 1rem 30%;
  }
}
@media only screen and (max-width: 26.56em) {
  .btn--card:link {
    padding: 1rem 25%;
  }
}
.btn--slideToggle {
  grid-column: 1/-1;
  display: flex;
  align-self: center;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  font-size: 1.2rem;
  color: rgb(33, 55, 75);
  padding: 2rem 8rem;
  font-size: 1.5rem;
}
.btn--slideToggle:hover,
.btn--slideToggle:active,
.btn--slideToggle:focus {
  background-color: rgb(220, 220, 220);
}

.fade-in {
  opacity: 0;
}

.appear {
  opacity: 1;
  transition: opacity 2s ease-in;
}

.skills-box {
  display: grid;
  grid-template-rows: 5rem 1fr;
  gap: 2rem 0;
  padding: 2.4rem;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.4);
}
.skills-box__no-shadow {
  box-shadow: none;
}
@media only screen and (max-width: 64em) {
  .skills-box {
    grid-template-rows: 5rem 1fr;
    gap: 0.5rem 0;
    padding: 1.6rem;
  }
}
@media only screen and (max-width: 48em) {
  .skills-box {
    grid-template-rows: 4rem min-content;
    padding: 1.6rem;
  }
}
.skills-box__header-icon {
  height: 3.5rem;
  width: 3.5rem;
  margin-right: 5px;
  fill: rgb(33, 55, 75);
  vertical-align: bottom;
}
.skills-box__header {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
  color: rgb(33, 55, 75);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.2rem;
}
.skills-box__list {
  display: grid;
  gap: 4rem 0;
  padding: 2rem 0;
  border-radius: 5px;
  list-style: none;
  background-color: rgb(234, 234, 234);
}
@media only screen and (max-width: 64em) {
  .skills-box__list {
    grid-template-rows: 2rem;
    grid-template-columns: repeat(3, min-content);
    justify-content: center;
    gap: 2.4rem 0.8rem;
    padding: 3.2rem 0.8rem;
  }
}
@media only screen and (max-width: 48em) {
  .skills-box__list {
    grid-template-columns: min-content;
    display: flex;
    flex-wrap: wrap;
    padding: 2.4rem 0.8rem;
  }
}
@media only screen and (max-width: 20em) {
  .skills-box__list {
    padding: 0.8rem 0.8rem;
  }
}
.skills-box__item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-box__icon {
  height: 5rem;
  width: 5rem;
  margin: 0 1rem;
}
@media only screen and (max-width: 48em) {
  .skills-box__icon {
    height: 3.5rem;
    width: 3.5rem;
  }
}

.banner {
  grid-row: header-start/header-end;
  width: 100vw;
  display: grid;
  justify-items: center;
  align-content: center;
  background: linear-gradient(
    to right bottom,
    rgba(13, 35, 55, 0.99),
    rgba(23, 45, 65, 0.8)
  );
}
@media only screen and (max-width: 26.56em) {
  .banner {
    width: auto;
  }
}
.banner__content {
  display: grid;
  justify-items: center;
  align-content: center;
  gap: 1rem 0;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.banner__image {
  z-index: -1;
  transform: translate3d(0.00001px, 0px, -1px) !important;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  top: 0;
  left: 0;
  position: absolute;
}
.banner__main {
  transform: translateY(-3.5rem);
  margin-bottom: 2.4rem;
  font-size: 6.2rem;
  text-align: center;
  letter-spacing: 3.5rem;
  color: rgb(220, 220, 220);
}
@media only screen and (max-width: 64em) {
  .banner__main {
    font-size: 4rem;
    letter-spacing: 3rem;
  }
}
@media only screen and (max-width: 48em) {
  .banner__main {
    font-size: 3rem;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 26.56em) {
  .banner__main {
    font-size: 2rem;
    letter-spacing: 2.5rem;
  }
}
@media only screen and (max-width: 48em) {
  .banner__main--part-1 {
    display: block;
    padding-bottom: 1.5rem;
    letter-spacing: 5.3rem;
    transform: translateX(1.4rem);
  }
}
@media only screen and (max-width: 26.56em) {
  .banner__main--part-1 {
    letter-spacing: 3.5rem;
    transform: translateX(1.1rem);
  }
}
@media only screen and (max-width: 48em) {
  .banner__main--part-2 {
    display: block;
    padding-bottom: 1.5rem;
  }
}
.banner__sub {
  margin-bottom: 5.2rem;
  font-size: 2.4rem;
  text-align: center;
  letter-spacing: 1rem;
  color: rgb(220, 220, 220);
}
@media only screen and (max-width: 48em) {
  .banner__sub {
    margin-bottom: 0rem;
    font-size: 1.6rem;
    transform: translateY(-3rem);
  }
}
@media only screen and (max-width: 48em) {
  .banner__sub--part-1 {
    display: block;
    padding: 1rem;
  }
}
@media only screen and (max-width: 48em) {
  .banner__sub--part-2 {
    display: block;
    padding: 1rem;
    letter-spacing: 1.2rem;
  }
}

.footer {
  grid-row: footer-start/footer-end;
  display: grid;
  justify-content: center;
  text-align: center;
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
  background-color: rgb(33, 55, 75);
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
}
@media only screen and (max-width: 17.19em) {
  .footer {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }
}
.footer__icon {
  height: 1.6rem;
  width: 2rem;
  fill: red;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.code {
  visibility: hidden;
}

.laptop__svg {
  height: 60rem;
  width: 60rem;
}
@media only screen and (max-width: 26.56em) {
  .laptop__svg {
    height: 30rem;
    width: 30rem;
  }
}

#index {
  display: grid;
  grid-template-rows: [header-start] 100vh [header-end bio-start] minmax(
      min-content,
      max-content
    ) [bio-end skills-start] minmax(
      min-content,
      max-content
    ) [skills-end project-start] minmax(
      min-content,
      max-content
    ) [project-end contact-start] minmax(
      min-content,
      max-content
    ) [contact-end footer-start] max-content [footer-end];
}

.bio {
  grid-row: bio-start/bio-end;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, min-content);
  gap: 2rem 0;
  justify-items: center;
  padding: 4.8rem;
  background-color: rgb(245, 245, 245);
}
@media only screen and (max-width: 48em) {
  .bio {
    padding: 3.2rem;
  }
}
@media only screen and (max-width: 26.56em) {
  .bio {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }
}
.bio__img {
  grid-column: 1/2;
  max-height: 25rem;
  max-width: 25rem;
  border-radius: 50%;
  transform: translateX(3rem);
}
@media only screen and (max-width: 64em) {
  .bio__img {
    grid-column: 2/6;
    transform: translateX(0);
  }
}
.bio__content {
  grid-column: 2/6;
  background-color: rgb(234, 234, 234);
  padding: 5rem;
}
@media only screen and (max-width: 64em) {
  .bio__content {
    grid-column: 1/-1;
  }
}
.bio__content__paragraph:not(:last-child) {
  margin-bottom: 1.6rem;
}

.curriculum {
  display: none;
  overflow: hidden;
  grid-column: 1/-1;
  grid-row: 5/6;
  padding: 3.2rem;
}
@media only screen and (max-width: 48em) {
  .curriculum {
    padding: 1.6rem;
  }
}
@media only screen and (max-width: 26.56em) {
  .curriculum {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }
}
.curriculum__methodology {
  background-color: rgb(33, 55, 75);
  color: rgb(234, 234, 234);
  padding: 1.6rem;
  border-radius: 5px;
}

.skills {
  grid-row: skills-start/skills-end;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, min-content);
  gap: 2rem 1vw;
  padding: 4.8rem;
  background-color: rgb(220, 220, 220);
}
@media only screen and (max-width: 64em) {
  .skills {
    grid-template-columns: min-content;
    grid-template-rows: min-content repeat(3, 1fr);
    justify-content: center;
    gap: 2rem 0;
  }
}
@media only screen and (max-width: 48em) {
  .skills {
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 3.2rem;
  }
}
@media only screen and (max-width: 26.56em) {
  .skills {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }
}

.projects {
  grid-row: project-start/project-end;
  display: grid;
  gap: 3rem 0;
  padding: 4.8rem;
  justify-items: center;
  background-color: rgb(234, 234, 234);
}
@media only screen and (max-width: 160em) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem 5rem;
  }
}
@media only screen and (max-width: 90em) {
  .projects {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 48em) {
  .projects {
    padding: 3.2rem;
  }
}
@media only screen and (max-width: 26.56em) {
  .projects {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }
}
.projects__extras {
  display: none;
  overflow: hidden;
  gap: 2rem 1vw;
  padding: 4.8rem;
}
@media only screen and (max-width: 64em) {
  .projects__extras {
    gap: 2rem 0;
  }
}
@media only screen and (max-width: 48em) {
  .projects__extras {
    padding: 3.2rem;
  }
}
@media only screen and (max-width: 26.56em) {
  .projects__extras {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }
}

.contact {
  grid-row: contact-start/contact-end;
  display: grid;
  grid-template-columns: 1fr repeat(3, max-content) 1fr;
  grid-template-rows: repeat(2, max-content);
  gap: 1.6rem 1.6rem;
  justify-items: center;
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
  background-color: rgb(220, 220, 220);
}
@media only screen and (max-width: 48em) {
  .contact {
    grid-template-rows: repeat(3, max-content);
    gap: 1.6rem 0;
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
  }
}
@media only screen and (max-width: 26.56em) {
  .contact {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }
}

.online-profile {
  grid-column: 2/3;
  display: grid;
  grid-template-rows: repeat(2, max-content);
  grid-template-columns: repeat(4, min-content);
  gap: 1rem 0;
  justify-content: center;
}
.online-profile__header {
  grid-row: 1/2;
  grid-column: 1 / span 5;
  justify-self: center;
}
.online-profile__icon {
  grid-row: 2/3;
  height: 6rem;
  width: 6rem;
  margin: 0 2rem;
  padding-top: 1rem;
}
@media only screen and (max-width: 64em) {
  .online-profile__icon {
    height: 5rem;
    width: 5rem;
    margin: 0 1rem;
  }
}
.online-profile__icon-box {
  border-top: 1px solid rgb(33, 55, 75);
}
@media only screen and (max-width: 48em) {
  .online-profile {
    grid-column: 2/4;
    grid-row: 2/3;
  }
}

.email {
  grid-column: 3/4;
  display: grid;
  grid-template-rows: repeat(2, max-content);
  grid-template-columns: repeat(4, min-content);
  gap: 1rem 0;
  justify-content: center;
}
.email__header {
  grid-row: 1/2;
  grid-column: 1 / span 5;
  justify-self: center;
}
.email__icon {
  grid-row: 2/3;
  height: 6rem;
  width: 6rem;
  margin: 0 2rem;
  padding-top: 1rem;
}
@media only screen and (max-width: 64em) {
  .email__icon {
    height: 5rem;
    width: 5rem;
    margin: 0 1rem;
  }
}
.email__icon-box {
  border-top: 1px solid rgb(33, 55, 75);
}
@media only screen and (max-width: 48em) {
  .email {
    grid-column: 2/3;
    grid-row: 3/4;
  }
}

.social-media {
  grid-column: 4/5;
  display: grid;
  grid-template-rows: repeat(2, max-content);
  grid-template-columns: repeat(4, min-content);
  gap: 1rem 0;
  justify-content: center;
}
.social-media__header {
  grid-row: 1/2;
  grid-column: 1 / span 5;
  justify-self: center;
}
.social-media__icon {
  grid-row: 2/3;
  height: 6rem;
  width: 6rem;
  margin: 0 2rem;
  padding-top: 1rem;
}
@media only screen and (max-width: 64em) {
  .social-media__icon {
    height: 5rem;
    width: 5rem;
    margin: 0 1rem;
  }
}
.social-media__icon-box {
  border-top: 1px solid rgb(33, 55, 75);
}
@media only screen and (max-width: 48em) {
  .social-media {
    grid-column: 3/4;
    grid-row: 3/4;
  }
}

.projects-body {
  background-color: rgb(245, 245, 245);
}
.projects-body__focus-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto, min-content);
  margin: 10rem;
  padding: 10rem;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}
@media only screen and (max-width: 48em) {
  .projects-body__focus-container {
    margin: 5rem;
    padding: 5rem;
  }
}
@media only screen and (max-width: 26.56em) {
  .projects-body__focus-container {
    margin: 0;
    padding: 5rem;
  }
}
.projects-body__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 9px;
}
.projects-body__image--smaller {
  width: 50%;
  height: 50%;
}
.projects-body__main-heading {
  font-size: 4.2rem;
  line-height: 4.2rem;
}
.projects-body__sub-heading {
  font-weight: 400;
  font-size: 1.6rem;
}
.projects-body__heading {
  margin-bottom: 1.2rem;
  line-height: 3.2rem;
}
.projects-body__list {
  margin-left: 1.6rem;
}
.projects-body__list li {
  margin: 1.2rem 0 1.2rem 0;
}
.projects-body__focus-container {
  gap: 9.6rem 0;
}
.projects-body__paragraph-spacing-below {
  margin-bottom: 2.4rem;
}
.projects-body__bold-text {
  font-weight: 500;
}

.technologies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
}
@media only screen and (max-width: 90em) {
  .technologies {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
}
@media only screen and (max-width: 64em) {
  .technologies {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
@media only screen and (max-width: 48em) {
  .technologies {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }
}
@media only screen and (max-width: 26.56em) {
  .technologies {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
}
.technologies__header {
  grid-row: 1/2;
  grid-column: 1/-1;
}

.blog-body {
  background-color: rgb(245, 245, 245);
}
.blog-body__focus-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto, min-content);
  margin: 10rem;
  padding: 10rem;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
}
@media only screen and (max-width: 48em) {
  .blog-body__focus-container {
    margin: 5rem;
    padding: 5rem;
  }
}
@media only screen and (max-width: 26.56em) {
  .blog-body__focus-container {
    margin: 0;
    padding: 5rem;
  }
}
.blog-body__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 9px;
}
.blog-body__image--smaller {
  width: 50%;
  height: 50%;
}
.blog-body__main-heading {
  font-size: 4.2rem;
  line-height: 4.2rem;
}
.blog-body__sub-heading {
  font-weight: 400;
  font-size: 1.6rem;
}
.blog-body__heading {
  margin-bottom: 1.2rem;
  line-height: 3.2rem;
}
.blog-body__list {
  margin-left: 1.6rem;
}
.blog-body__list li {
  margin: 1.2rem 0 1.2rem 0;
}
.blog-body__focus-container {
  gap: 2.4rem 0;
}
.blog-body__image {
  width: 75%;
  height: 75%;
}

/*# sourceMappingURL=style.css.map */
