@use 'abstract/variables';
@use 'abstract/mixins';

.projects-body {
  @include mixins.blog-and-project-formatting;

  &__focus-container {
    gap: 9.6rem 0;
  }

  &__paragraph-spacing-below {
    margin-bottom: 2.4rem;
  }

  &__bold-text {
    font-weight: 500;
  }
}

// TECHNOLOGIES SECTION //
.technologies {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, min-content);
  gap: 2rem 1vw;

  @media only screen and (max-width: variables.$bp-laptop-l) {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 2rem 1vw;
  }

  @media only screen and (max-width: variables.$bp-laptop) {
    grid-template-columns: min-content;
    justify-content: center;
    gap: 2rem 0;
  }

  @media only screen and (max-width: variables.$bp-tablet) {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  @media only screen and (max-width: variables.$bp-mobile-l) {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }

  &__header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }
}
